<h1>Add Booze</h1>
<h3>NEW</h3>

<%= form_for @list, url: {action: 'create'} do |f| %>
  <p> Item: <%= f.text_field :brand %> </p>
  <p> Cost: <%= f.text_field :cost %> </p>
  <p><%= f.submit 'Add Item' %></p>
  <% end %>
